body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  flex: 1;
  color: #22435a;
}
h5 {
  color: #666;
  font-size: 14px;
  margin: 10px;
}

h6 {
  font-weight: 500;
  line-height: 1.7em;
  margin: 10px;
}

.product-filter {
  display: flex;
  padding: 0 10px;
}

.sort {
  display: flex;
  align-self: flex-end;
  margin-bottom: 10px;
}

.collection-sort {
  display: flex;
  flex-direction: inherit;
}
.collection-sort label {
  color: #22435a;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
  margin-right: 5px;
}


.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.product-card {
  flex: 1 1 30%;
  margin: 5px 10px 5px 10px;
  border: 1px solid #ebebeb;
  background: #fff;

  border-radius: 5px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); 
}

.product-face {
  height: 200px;
  width: 100%;
  display: table;
  background: #abb8bb0a;
  color: #22435a;
}

.product-face-child {
  display: table-cell;
  vertical-align: middle;
}

.product-ads {
  flex: 1 1 30%;
  margin: 5px 10px 5px 10px;
}

.product-ads .product-face {
  height: 200px;
  width: 100%;
  display: table;
  background: transparent;
}

.product-ads .product-face .product-face-child {
  display: table-cell;
  vertical-align: middle;
}

.product-ads .product-face .product-face-child img {
  margin: 0 auto;
  display: block;
}

.product-face-child p {
  display: block;
  text-align: center;
  margin: 0px;
  font-weight: bold;
}

.product-info {
  text-align: center;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  border-width: 0px;
  border-style: solid;
  display: flex;
  border-top: 1px solid #f5f5f5fc;
}

.product-info-ads {
  text-align: center;
  padding: 10px 0;
  background: #22435a;
  border-color: #d4d4d4;
  border-radius: 0 0 8px 8px;
  border-width: 0px;
  border-style: solid;
  width: 320px;
  margin: 0 auto;
}
.product-price {
  width: 100px;
  padding: 5px 0;
  letter-spacing: 1px;
  border: 0;
  border-radius: 2px;
  outline: 0;
}
.product-price p {
  color: #8650b5;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.product-time {
  flex: 1;
}
.product-time p {
  font-size: 12px;
  letter-spacing: 3px;
  color: #0b1e3c99;
  margin: 15px 0 0 0;
  text-align: right;
}

.product-time label {
  font-size: 10px;
  letter-spacing: 3px;
  color: #8650b5;
  text-align: right;
  display: block;
}

.product-title {
  flex: 1;
}
.product-title p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0;
  text-align: left;
}

.loader-warpper {
  flex: 0 0 100%;
  text-align: center;
  border: 0;
  font-size: 5rem;
}

.loading-container {
  height: auto;
  width: 100px;
  border-radius: 100%;
  text-align: center
}

.loading-container { margin: 20px auto;  flex: 0 0 100%;}
.loading-container {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loading-text {
  -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
  -o-animation: loading-text-opacity 2s linear 0s infinite normal;
  -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
  animation: loading-text-opacity 2s linear 0s infinite normal;
  color: #3085b1;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
}

.end-text {
  color: #2bc77b;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

@-moz-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

@keyframes loading-text-opacity {
  0%  {opacity: 0}
  20% {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}
